html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Samarkan";
    src: url("./font/samarkan.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

.navbar-custom {
    color: white;
    background-color: #262626;
}

#navbar-header {
    color: white;
    font-family: "Samarkan";
    font-size: 2.5em;
}

#main {
    background-color: #262626;
    margin: auto;
    text-align: center;
}

#header {
    padding: 30px 20px;
}

#header h1 {
    margin: 0;
    padding: 100px 20px 10px 10px;
    font-family: "Samarkan";
    font-size: 200px;
    color: #d5d5d7;
    -webkit-animation: header-glow 1s ease-in-out infinite alternate;
    -moz-animation: header-glow 1s ease-in-out infinite alternate;
    animation: header-glow 1s ease-in-out infinite alternate;
}

#header h4 {
    text-align: right;
    padding-right: 20%;
    letter-spacing: 1px;
    font-size: 36px;
    color: #FFD700;
    -webkit-animation: batch-glow 1s ease-in-out infinite alternate;
    -moz-animation: batch-glow 1s ease-in-out infinite alternate;
    animation: batch-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes header-glow {
  from {
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
  }
  to {
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.2);
  }
}

@-webkit-keyframes batch-glow {
  from {
    text-shadow: 1px 1px 3px rgba(255, 255, 0, 0.8);
  }
  to {
    text-shadow: 1px 1px 6px rgba(255, 255, 0, 0.4);
  }
}


@media screen and (max-width: 600px) {
    #navbar-header {
        font-size: 2.0em;
    }

    #header h1 {
        font-size: 100px;
    }
    #header h4 {
        font-size: 18px;
        padding-right: 10px;
    }
}

#about-section {
    padding: 20px;
}

#about-jallosh {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about-jallosh span {
    letter-spacing: normal;
    font-family: "Samarkan";
}

#read-more {
    margin: auto;
    width: 100px;
    padding: 20px 0;
}

#read-more a {
    color: white;
    letter-spacing: 1px;
}

#smooth-scroll-btn {
    padding: 5px 0;
    display: block;
}
#convener{
    margin-left: 100px;
}
#grad {
  background-image: linear-gradient(to right, rgba(255,0,0,0), #FFECB3);  
/*    rgba(255,110,10,100)*/
}